<style>
  .footer a {
    font-size: x-small;
  }

  .footer {
    padding-top: 30px;
  }
</style>
<nav class="footer navbar mt-auto">

  <nav class="mr-auto">
    <img src="{{ "/assets/images/wb_logo.png" | relative_url }}" height='15' style='padding-right: 1em;'>

    <a>HOME</a>
    |
    <a>THEORETICAL USER</a>
    |
    <a>ABOUT</a>
    |
    <a>SUSTAINABILITY ISSUES</a>
    |
    <a>PRINT</a>
    |
    <a>MY ACCOUNT</a>
    |
    <a>MY REPORTS</a>
    |
    <a>CONTACT US</a>
  </nav>
  <nav class="ml-auto">
    <a style="font-size: xx-small;">© 2020 The World Bank Group, All Rights Reserved</a>
  </nav>
</nav>