<style type="text/css">
  .footer a {
    font-size: x-small;
    color: black !important;
    text-decoration: none;

  }

  .footer {
    padding-top: 30px;
  }

  .bottom-nav-sep {
    font-size: 9px;
  }
</style>
<nav class="footer navbar mt-auto pb-3">
  <nav class="mr-auto">
    {% if include.inverted == "true" %}
    <img src="{{ "/assets/images/WBLOGO_INVERT.svg" | relative_url }}" height='15' style='padding-right: 1em;'>
    {% else %}
    <img src="{{ "/assets/images/wb_logo.png" | relative_url }}" height='15' style='padding-right: 1em;'>
    {% endif %}
    {% if include.included != "false" %}
    <a href=" {{ 'entry.html' | relative_url }}">HOME</a>
    <span class='bottom-nav-sep'> |</span>
    <a href="{{ 'sustain.html' | relative_url }}">SUSTAINABILITY ISSUES</a>
    <span class='bottom-nav-sep'> |</span>
    <a href="{{ 'print.html' | relative_url }}">PRINT</a>
    <span class='bottom-nav-sep'> |</span>
    <a>MY ACCOUNT</a>
    <span class='bottom-nav-sep'> |</span>
    <a href="{{ 'reports.html' | relative_url }}">MY REPORTS</a>
    <span class='bottom-nav-sep'> |</span>
    <a>CONTACT US</a>
    {% endif %}
  </nav>
  <nav class="ml-auto">
    <a style="font-size: xx-small;">© 2020 The World Bank Group, All Rights Reserved</a>
  </nav>
</nav>