<style type="text/css">
    @media (max-width: 575px) {
        #scroll-buttons {
            flex-direction: row !important;
        }

        #rel-princp {
            max-width: unset !important;
            min-width: unset !important;
        }

        .scroll-container {
            min-height: 0 !important;
        }

        .data-section {
            flex-wrap: wrap-reverse;
        }
    }

    .scroll-container {
        min-height: 90vh;
        /* position: sticky; */
        top: 10vh !important; 
        font-size: 14px;
    }

    @media (min-width: 992px) {
        .scroll-container {
            font-size: 16px !important;
        }

    }

    .hide {
        opacity: 0 !important;
    }

    /* Principle Icons */
    #rel-princp .card a {
        width: 63px;
        height: 63px;
    }

    #rel-princp .card {
        margin: 3px;
        border: 0;
    }

    #rel-princp {
        max-width: 138px;
        /* min-width: 138px; */

        opacity: 1;
        transition: opacity 0.2s;
    }

    #rel-princp p {
        font-weight: 500;
    }

    #scroll-buttons a:hover {
        background-color: var(--aquamarine);
        color: white;
    }

    #scroll-buttons a {
        min-width: 90px !important;
    }

    .returnButton {
        text-align-last: justify;
        cursor: pointer;
        background-color: var(--aquamarine);
        color: white;
    }
</style>
<script>
    $(document).ready(function () {
        //Changes the principle icons on each tab press
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
            swapPrincp(e.target.getAttribute('href'))
        })
    });

    // this is kinda a hack, searched the contents of the page using a regex for "P1."
    // format principle text, and returns unique principles. 
    // You could do a database lookup here or something
    const swapPrincp = (initPage) => {
        const page = document.querySelector(initPage);
        const type = page.id.charAt(0)
        let re = new RegExp('[P][0-7]\.', 'g')
        const principles = page.innerHTML.match(re).map(i => parseInt(i.replace('.', '').replace('P', '')))
        const uniquePrinc = new Set(principles);
        iconSwap([...uniquePrinc], type)

    }

    // Actually swaps the icons with the respective url/type from iconMatrix in /assets/data/map.js
    const iconSwap = (principles = [], type) => {
        $('[data-toggle="tooltip"]').tooltip('dispose')
        const princSection = document.getElementById('rel-princp')
        princSection.classList.add('hide');
        setTimeout(function () {
            princSection.innerHTML = ""
            const icons = iconMatrix.filter(i => principles.includes(i.Principle) && i.Type == type)
            icons.map(i =>
                document.getElementById('rel-princp').innerHTML += cardIcon(i.Icon, i.Type, i.Principle)
            )
            princSection.classList.remove('hide');
            $('[data-toggle="tooltip"]').tooltip()
        }, 300);
    }

    // The icon template
    const cardIcon = (icon, type, index) => {
        return `<div class='card' data-toggle="tooltip" data-placement="top" title="Principle ${index}">
                <a href="{{ '/' | relative_url }}principle_${type}_${index}.html"> 
                    <img class='card-img' src="{{ '/assets/images/icons/' | relative_url }}${icon}">
                    </a>
                    </div>`
    }

    // Reset Button
    const refreshFunction = () => {
        location.reload()
    };

    const addReport = () => {
        console.log(guidance);
    }
</script>
<div class='row data-section hidden-object'>
    {% include tabbed-scroll.html %}
    <div class='col-sm-25 col-sm col-sm-auto pl-1 pr-0'>
        <div class='d-flex flex-column scroll-container sticky'>
            <p>RELEVANT PRINCIPLES</p>
            <div class='d-flex flex-row flex-wrap mb-1 mb-sm-0' id='rel-princp'>
            </div>
            <div class="d-flex flex-column mt-sm-auto mb-1 mb-sm-auto" id='scroll-buttons'>
                <a class="list-group-item list-group-item-action py-1 px-2 my-1" onclick="addReport()">ADD
                    TO
                    MY REPORTS</a>
                <a class="list-group-item list-group-item-action py-1 px-2 my-1"
                    href="{{ 'reports.html' | relative_url }}">GO TO
                    MY REPORTS</a>
                <a class="list-group-item list-group-item-action py-1 px-2 my-1 returnButton" id='returnButton' href='#'
                    onclick=refreshFunction()><span>RESET</span> <svg width="1em" height="1em" viewBox="0 0 16 16"
                        class="bi bi-back" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z" />
                    </svg> </a>

            </div>
        </div>
    </div>
</div>