<style type="text/css">
    .scroll-container {
        min-height: 80vh;
        position: sticky;
        top: 19vh;
    }
    /* Principle Icons */
    .rel-princp .card img {
        width: 63px;
        height: 63px;
    }
    .rel-princp .card {
        margin: 3px;
        border: 0;
    }
    .rel-princp {
        max-width: 142px;
    }
    .rel-princp p {
        font-weight: 500;
    }
</style>
<script>
    // Reset Button
    const refreshFunction = () => {
        location.reload()
    };
</script>
<div class='row data-section hidden-object'>
    {% include tabbed-scroll.html %}
    <div class='col-2 col-lg-auto'>
        <div class='d-flex flex-column scroll-container'>
        <div class='d-flex flex-row flex-wrap rel-princp'>
            <p>RELEVANT PRINCIPALS</p>
            <div class='card'>
                <img class='card-img' src="{{ '/assets/images/32px_Principle-3.svg' | relative_url }}">
            </div>
            <div class='card'>
                <img class='card-img' src="{{ '/assets/images/32px_Principle-3.svg' | relative_url }}">
            </div>
            <div class='card'>
                <img class='card-img' src="{{ '/assets/images/32px_Principle-3.svg' | relative_url }}">
            </div>
        </div>
        <div class="d-flex flex-column scroll-buttons mt-auto mb-auto">
            <a class="list-group-item list-group-item-action py-1 px-2 my-1" href="#topic-{{ forloop.index }}">ADD TO
                MY REPORTS</a>
            <a class="list-group-item list-group-item-action py-1 px-2 my-1" href="#topic-{{ forloop.index }}">GO TO
                MY REPORTS</a>
            <a class="list-group-item list-group-item-action py-1 px-2 my-1" href='#'
                onclick=refreshFunction()>RESET</a>
        </div>
        </div>
    </div>
</div>