<style type="text/css">
    .jumbo-image {
        z-index: -1;
        border-radius: .3em;
        align-self: baseline;
        max-width: 95%;
        /* max-width: 916px; */
        /* max-height: 364px; */
    }
    .color-block {
        background: var(--prep);
        min-width: 4%;
        margin-right: 4px;
        border-radius: .3em;
    }
    .img-container {
        grid-area: image;
        display: flex;
        flex-direction: row;
        margin-top: 2em;
        margin-bottom: 1em;
    }
</style>
{% if page.color %}
<style>
    .color-block {
        background: var({{ page.color }});
    }
</style>
{% endif %}
<div class='img-container'>
    <div class='color-block'></div>
    <img class='jumbo-image img-fluid' src={{ page.image_path  | relative_url }}>
</div>