<style type="text/css">

  .jumbo .jumbo-title {
    color: var(--aquamarine);
    grid-area: jumbo-title;
    font-size: 6vw;
    font-weight: 200;
    line-height: .8em;
  }

  .jumbo .title {
    grid-area: title;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0;
    color: var(--aquamarine);
  }

  .jumbo .main_title {
    grid-area: main_title;
    font-size: 29px;
    font-weight: 300;
    color: rgba(78, 79, 84, 1);
    line-height: 49px;
  }

  .jumbo #sub_title {
    grid-area: sub_title;
  }

  .jumbo #intro {
    grid-area: intro;
    align-self: center;
  }

  .jumbo .sub_title {
    font-size: 19px;
    font-weight: 200;
    align-self: flex-start;
    color: rgba(78, 79, 84, 1);
  }

  @media (min-width: 992px) {
    .jumbo .jumbo-title {
      font-size: 82px;
    }

    .jumbo .main_title {
      font-size: 43px;
      font-weight: 200;
    }

    .jumbo .sub_title {
      font-size: 23px;
      font-weight: normal;
    }
  }

  @media (min-width: 1200px) {
    .jumbo .main_title {
      font-size: 50px;
      font-weight: 200;
    }
  }

  .jumbo {
    width: 100%;
    height: 100%;
  }

  .icon {
    grid-area: icon;
    align-self: self-end;
    z-index: 2;
    padding-left: 0px !important;
    padding: 5px;
  }

  .title-layout {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 150px 2fr 2fr;
    grid-template-rows: .5fr 1fr .5fr .5fr;
    grid-template-areas: "title title title"
      'main_title main_title main_title'
      "sub_title sub_title sub_title"
      'bread bread bread'
  }

.breadcrumb {
  background-color: #ffffff99;
  border-radius: 0.5em;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.breadcrumb a {
  color:rgba(78, 79, 84, 1);
}

#breadcrumb-nav {
  grid-area: bread;
  align-self: flex-start;
  height: min-content;
}
</style>

{% if page.color %}
<style>
    .jumbo .jumbo-title {
    color: var({{ page.color }});
  }
</style>
{% endif %}


<div class="jumbo">
  <div class='title-layout'>
    {% if page.icon_path %}
    <style type="text/css">
      .title-layout {
        grid-template-areas: "icon title title "
          'icon main_title main_title '
          "sub_title sub_title sub_title"
          'bread bread bread'
      }
    </style>
    <img class='icon img-fluid' src={{ page.icon_path  | relative_url }}>
    {% endif %}
    {% if page.main_title %}
    <h4 class='title'>{{ page.title}}</h4>
    <h1 class='main_title'>{{ page.main_title}}</h1>
    <h5  id='sub_title' class='sub_title'>{{page.sub_title}}</h5>
    <nav class='nav' id='breadcrumb-nav' aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ '/entry.html' | relative_url }}">HOME</a></li>
          {% if include.include_theory =='true' %}
          <li class="breadcrumb-item"><a href="{{ '/theory.html' | relative_url }}">THEORY</a></li>
          {% endif %} 
          <li class="breadcrumb-item active" aria-current="page">{{ page.title | upcase }}</li>
      </ol>
  </nav>
  {% else %}
    {% if page.intro %}
    <style type="text/css">
      .title-layout {
        grid-template-rows: .5fr 1fr .5fr .5fr;
        grid-template-areas: "jumbo-title jumbo-title jumbo-title "
          'jumbo-title jumbo-title jumbo-title '
          'bread bread bread'
          "intro intro intro"
      }
      .jumbo-title {
        align-self: center;
      }
    </style>
      <h1 class='jumbo-title'>{{ page.title }}</h1>
      <nav class='nav' id='breadcrumb-nav' aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ '/entry.html' | relative_url }}">HOME</a></li>
            {% if include.include_theory =='true' %}
            <li class="breadcrumb-item"><a href="{{ '/theory.html' | relative_url }}">THEORY</a></li>
            {% endif %} 
            <li class="breadcrumb-item active" aria-current="page">{{ page.title | upcase}}</li>
        </ol>
    </nav>
    <h5  id='intro' class='sub_title'>{{page.intro}}</h5>
    {% else %}
    <style type="text/css">
      .title-layout {
        grid-template-rows: 3fr .5fr .5fr;
        grid-template-areas: "jumbo-title jumbo-title jumbo-title "
          'jumbo-title jumbo-title jumbo-title '
          'bread bread bread'
      }
    </style>
      <h1 class='jumbo-title'>{{ page.title }}</h1>
      <nav class='nav' id='breadcrumb-nav' aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ '/entry.html' | relative_url }}">HOME</a></li>
            {% if include.include_theory =='true' %}
            <li class="breadcrumb-item"><a href="{{ '/theory.html' | relative_url }}">THEORY</a></li>
            {% endif %} 
            <li class="breadcrumb-item active" aria-current="page">{{ page.title | upcase}}</li>
        </ol>
    </nav>
    {% endif %}
  {% endif %}
</div>
</div>