<style>
  .jumbo .jumbo-title {
    color: var(--aquamarine);
    font-size: 70px;
    font-weight: 200;
    line-height: .8em;
  }

  @media (min-width: 992px) {
    .jumbo .jumbo-title {
      font-size: 82px;
    }
  }

  .jumbo .title {
    grid-area: title;
    font-size: 24px;
    font-weight: normal;
    color: var(--aquamarine);

  }

  .jumbo .main_title {
    grid-area: main_title;
    font-size: 50px;
    font-weight: 200;
    color: rgba(78, 79, 84, 1);

  }

  .jumbo .sub_title {
    grid-area: sub_title;
    font-size: 24px;
    font-weight: normal;
    color: rgba(78, 79, 84, 1);

  }

  .jumbo {
    width: 100%;
    padding: 1em;
  }
  { % if page.icon_path % }
  .title-layout {

    display: grid;
    width: 100%;
    grid-template-columns: 150px 2fr 2fr;
    grid-template-areas: "icon title title "
    'icon main_title main_title '
    "sub_title sub_title sub_title"

  }
  { % endif % }

  .icon {
    grid-area: icon;
    z-index: 2;
    filter: brightness(0.8);
    max-width: 150px;
  }
</style>

<div class="jumbo">
  {% if page.main_title %}
  <div class='title-layout'>
    <img class='icon' src={{ page.icon_path  | relative_url }}>
    <h4 class='title'>{{ page.title}}</h4>
    <h1 class='main_title'>{{ page.main_title}}</h1>
    <h5 class='sub_title'>{{page.sub_title}}</h5>
  </div>
  {% else %}
  <h1 class='jumbo-title'>{{ page.title }}</h1>
  {% endif %}
</div>