
@media (min-width: 560px) , (min-height: 373px) {
  #splash-container {
    background-image: var(--splashgrade),
      url('#{$baseurl}/assets/images/splash/herd-sheep-800w.jpg') !important;
  }
}

@media (min-width: 960px), (min-height: 640px) {
  #splash-container {
    background-image: var(--splashgrade),
      url("#{$baseurl}/assets/images/splash/herd-sheep-1280w.jpg") !important;
  }
}

@media (min-width: 1300px), (min-height: 867px) {
  #splash-container {
    background-image: var(--splashgrade),
      url("#{$baseurl}/assets/images/splash/herd-sheep-1600w.jpg") !important;
  }
}

@media (min-width: 1690px) {
  #splash-container {
    background-image: var(--splashgrade),
      url("#{$baseurl}/assets/images/splash/herd-sheep-2000w.jpg") !important;
  }
}

@media (min-width: 2100px) {
  #splash-container {
    background-image: var(--splashgrade),
      url("#{$baseurl}/assets/images/splash/herd-sheep-2560w.jpg") !important;
  }
}

@media (min-width: 2650px) {
  #splash-container {
    background-image: var(--splashgrade),
      url("#{$baseurl}/assets/images/splash/herd-sheep-3070w.jpg") !important;
  }
}

@media (min-width: 560px) , (min-height: 373px) {
  #entry-container {
    background-image: var(--entrygrade),
      url("#{$baseurl}/assets/images/splash/sheep-fog-800w.jpg") !important;
  }
}

@media (min-width: 960px), (min-height: 640px) {
  #entry-container {
    background-image: var(--entrygrade),
      url("#{$baseurl}/assets/images/splash/sheep-fog-1280w.jpg") !important;
  }
}

@media (min-width: 1300px), (min-height: 867px) {
  #entry-container {
    background-image: var(--entrygrade),
      url("#{$baseurl}/assets/images/splash/sheep-fog-1600w.jpg") !important;
  }
}

@media (min-width: 1690px) {
  #entry-container {
    background-image: var(--entrygrade),
      url("#{$baseurl}/assets/images/splash/sheep-fog-2000w.jpg") !important;
  }
}

@media (min-width: 2100px) {
  #entry-container {
    background-image: var(--entrygrade),
      url("#{$baseurl}/assets/images/splash/sheep-fog-2560w.jpg") !important;
  }
}

@media (min-width: 2650px) {
  #entry-container {
    background-image: var(--entrygrade),
      url("#{$baseurl}/assets/images/splash/sheep-fog-3070w.jpg") !important;
  }
}
