--- 
---
$baseurl: "{{site.baseurl}}"

:root {
  --splashgrade: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7)
  );
  --entrygrade: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  
  
  --grey_copy: rgba(78, 79, 84, 1);
  --chickenGray: rgba(144, 140, 150, 1);
  --black: black;

  
  --weird_green: rgba(0, 100, 80, 1);
  --aquamarine: rgba(0, 96, 104, 1);
  --column_1: rgba(102, 196, 202, 1);
// bright/cool 4
  --column_3: rgba(0, 169, 150, 1);
// neutral/warm 1
  --column_2: rgba(152, 37, 43, 1);
// Unknown, pulled from indesign
  --column_4: rgba(102, 102, 102, 1);
// bright/warm 2
  --column_5: rgba(253, 183, 20, 1);
// neutral/warm 3
  --weirdGold: rgba(184, 140, 29, 1);
// neutral/warm 2
  --superOrange: rgba(225, 106, 45, 1);
// neutral/cool 3
  --prep: rgba(0, 100, 80, 1);
// bright/cool 1
  --annoyingTeal: var(--column_1);
// neutral/cool 1
  --randomPurple: rgba(97, 71, 118, 1);
// breadcrumbnav sticky color
  --breadcrumbNav: rgba(229, 229, 229, 1);
} 

@import "bootstrap/bootstrap";
@import "backgrounds.scss";
@import "text_animations.scss";
@import "animations.scss";

@import url({{"/assets/fonts/stylesheet.css"|relative_url}});

body {
  min-width: 100vw !important;
  min-height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
  overflow-x: hidden !important;
}
@media (min-width: 768px) {
  .grid-container {
    grid-template-rows: auto 276px auto;
    grid-template-areas:
      "topnav topnav topnav topnav"
      "jumbo jumbo sidenav sidenav"
      "image image image ." !important;
  }

  .sidenavr {
    grid-area: sidenav !important;
    display: block;
  }
}

@media (min-width: 992px) {
  .grid-container {
    grid-template-rows: auto 276px auto;
    grid-template-areas:
      "topnav topnav topnav topnav"
      "jumbo jumbo jumbo sidenav"
      "image image image ." !important;
  }

  .sidenavr {
    grid-area: sidenav !important;
    display: block;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1340px;
  }
}

.container {
  min-height: 100vh !important;
  display: flex !important;
  flex-direction: column !important;
}

.nav.flex-column li {
  padding: 0em;
  height: 20px;
  text-align: right;
}

@keyframes nav-fade-in {
  0% {
    background-color: white;
  }

  100% {
    background-color: var(--breadcrumbNav);
  }
}

@keyframes nav-fade-out {
  100% {
    background-color: white;
  }

  0% {
    background-color: var(--breadcrumbNav);
  }
}
@media (min-width: 576px) {
.col-sm-25 {
  flex: 1 0 16.666667%;
  max-width: 19.73%;
}
}
.breadcrumb-item {
  z-index: 2;
}
.breadcrumb-item br {
  display: none;
}
/* This is the sticky data nav */
.nav-bread>div{
  border-radius: 10px;
  z-index: 2; 
}

.nav-bread {
  z-index: 2;
  margin-left: -30px;
  margin-right: -30px;
}

.nav-bread.fadein>div{
  animation: nav-fade-in 0.3s;
  background-color: var(--breadcrumbNav);
}
.nav-bread.fadeout>div{
  animation: nav-fade-out 0.3s;
}

.list-group {
  font-weight: 300;
  line-height: 16pt;
  font-size: 16px;
  color: rgba(78, 79, 84, 1);
  position: sticky;
  position: -webkit-sticky;
  align-self: flex-end;
  bottom: 5em;
}

.list-group-item.active {
  background-color: rgba(107, 138, 21, 1) !important;
  border-color: rgba(107, 138, 21, 1);
}

.list-group-item {
  background-color: rgba(234, 233, 235, 1);
  border-radius: 0.5em !important;
  max-width: 9em;
}

.nav-tabs .nav-link {
  text-decoration: none;
  color: var(--grey_copy);
  opacity: .8;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}