---
---
@import "bootstrap/bootstrap";

.nav.flex-column li {
    padding: 0em;
    height: 20px;
    text-align:right;
}

.nav.nav.flex-column a:not(.disabled) {

    color: black;
}
.nav.nav.flex-column a:not(.disabled) {

    font-weight: bold;
}
