@import url(/wbgslsg/assets/fonts/stylesheet.css);
:root { --splashgrade: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.7)
  ); --entrygrade: linear-gradient(rgba(60, 60, 60, 0.4), rgba(60, 60, 60, 0.4)); --grey_copy: rgba(78, 79, 84, 1); --chickenGray: rgba(144, 140, 150, 1); --black: black; --weird_green: rgba(0, 100, 80, 1); --aquamarine: rgba(0, 96, 104, 1); --column_1: rgba(102, 196, 202, 1); --column_3: rgba(0, 169, 150, 1); --column_2: rgba(152, 37, 43, 1); --column_4: rgba(102, 102, 102, 1); --column_5: rgba(253, 183, 20, 1); --weirdGold: rgba(184, 140, 29, 1); --superOrange: rgba(225, 106, 45, 1); --prep: rgba(0, 100, 80, 1); --annoyingTeal: var(--column_1); --randomPurple: rgba(97, 71, 118, 1); --breadcrumbNav: rgba(229, 229, 229, 1); }

@media (min-width: 560px), (min-height: 373px) { #splash-container { background-image: var(--splashgrade), url("/wbgslsg/assets/images/splash/herd-sheep-800w.jpg") !important; } }

@media (min-width: 960px), (min-height: 640px) { #splash-container { background-image: var(--splashgrade), url("/wbgslsg/assets/images/splash/herd-sheep-1280w.jpg") !important; } }

@media (min-width: 1300px), (min-height: 867px) { #splash-container { background-image: var(--splashgrade), url("/wbgslsg/assets/images/splash/herd-sheep-1600w.jpg") !important; } }

@media (min-width: 1690px) { #splash-container { background-image: var(--splashgrade), url("/wbgslsg/assets/images/splash/herd-sheep-2000w.jpg") !important; } }

@media (min-width: 2100px) { #splash-container { background-image: var(--splashgrade), url("/wbgslsg/assets/images/splash/herd-sheep-2560w.jpg") !important; } }

@media (min-width: 2650px) { #splash-container { background-image: var(--splashgrade), url("/wbgslsg/assets/images/splash/herd-sheep-3070w.jpg") !important; } }

@media (min-width: 560px), (min-height: 373px) { #entry-container { background-image: var(--entrygrade), url("/wbgslsg/assets/images/splash/corn-800w.jpg") !important; } }

@media (min-width: 960px), (min-height: 640px) { #entry-container { background-image: var(--entrygrade), url("/wbgslsg/assets/images/splash/corn-1280w.jpg") !important; } }

@media (min-width: 1300px), (min-height: 867px) { #entry-container { background-image: var(--entrygrade), url("/wbgslsg/assets/images/splash/corn-1600w.jpg") !important; } }

@media (min-width: 1690px) { #entry-container { background-image: var(--entrygrade), url("/wbgslsg/assets/images/splash/corn-2000w.jpg") !important; } }

@media (min-width: 2100px) { #entry-container { background-image: var(--entrygrade), url("/wbgslsg/assets/images/splash/corn-2560w.jpg") !important; } }

@media (min-width: 2650px) { #entry-container { background-image: var(--entrygrade), url("/wbgslsg/assets/images/splash/corn-3070w.jpg") !important; } }

.box-fill a { text-decoration: none; transition: all 2s; position: relative; }

.box-fill a:before { transition: all .5s; }

.box-fill a:hover { color: #555; }

.box-fill a:after { text-align: left; content: '.'; opacity: 0; position: absolute; bottom: 0; left: 0; right: 0; margin: auto; width: 0%; content: '.'; color: transparent; background: #aaa; height: 1px; }

.box-fill a:hover { color: #fff; z-index: 1; }

.box-fill a:hover:after { z-index: -10; animation: fill 1s forwards; -webkit-animation: fill 1s forwards; -moz-animation: fill 1s forwards; opacity: 1; }

/* Keyframes */
@-webkit-keyframes fill { 0% { width: 0%;
    height: 1px; }
  50% { width: 100%;
    height: 1px; }
  100% { width: 100%;
    height: 100%;
    background: #333; } }

.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }

.animated.hinge { -webkit-animation-duration: 2s; animation-duration: 2s; }

/*the animation definition*/
@-webkit-keyframes flipOutX { 0% { -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% { -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  100% { -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutX { 0% { -webkit-transform: perspective(400px);
    -ms-transform: perspective(400px);
    transform: perspective(400px); }
  30% { -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1; }
  100% { -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0; } }

.flipOutX { -webkit-animation-name: flipOutX; animation-name: flipOutX; -webkit-backface-visibility: visible !important; -ms-backface-visibility: visible !important; backface-visibility: visible !important; }

/*the animation definition*/
@-webkit-keyframes flipOutY { 0% { -webkit-transform: perspective(400px);
    transform: perspective(400px); }
  30% { -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  100% { -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }

@keyframes flipOutY { 0% { -webkit-transform: perspective(400px);
    -ms-transform: perspective(400px);
    transform: perspective(400px); }
  30% { -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1; }
  100% { -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -ms-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0; } }

.flipOutY { -webkit-backface-visibility: visible !important; -ms-backface-visibility: visible !important; backface-visibility: visible !important; -webkit-animation-name: flipOutY; animation-name: flipOutY; }

/*the animation definition*/
@-webkit-keyframes fadeInLeft { 0% { opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% { opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInLeft { 0% { opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0); }
  100% { opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }

.fadeInLeft { -webkit-animation-name: fadeInLeft; animation-name: fadeInLeft; }

/*the animation definition*/
@-webkit-keyframes fadeInUp { 0% { opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% { opacity: 1;
    -webkit-transform: none;
    transform: none; } }

@keyframes fadeInUp { 0% { opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% { opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }

.fadeInUp { -webkit-animation-name: fadeInUp; animation-name: fadeInUp; }

body { min-width: 100vw !important; min-height: 100vh !important; display: flex !important; flex-direction: column !important; overflow-x: hidden !important; }

@media (min-width: 768px) { .grid-container { grid-template-rows: auto 276px auto; grid-template-areas: "topnav topnav topnav topnav" "jumbo jumbo sidenav sidenav" "image image image ." !important; } .sidenavr { grid-area: sidenav !important; display: block; } }

@media (min-width: 992px) { .grid-container { grid-template-rows: auto 276px auto; grid-template-areas: "topnav topnav topnav topnav" "jumbo jumbo jumbo sidenav" "image image image ." !important; } .sidenavr { grid-area: sidenav !important; display: block; } }

@media (min-width: 1400px) { .container { max-width: 1340px; } }

.container { min-height: 100vh; display: flex !important; flex-direction: column !important; }

.nav.flex-column li { padding: 0em; height: 20px; text-align: right; }

@keyframes nav-fade-in { 0% { background-color: white; }
  100% { background-color: var(--breadcrumbNav); } }

@keyframes nav-fade-out { 100% { background-color: white; }
  0% { background-color: var(--breadcrumbNav); } }

@media (min-width: 576px) { .col-sm-25 { flex: 1 0 16.666667%; max-width: 19.73%; } }

.breadcrumb-item { z-index: 2; }

.breadcrumb-item br { display: none; }

/* This is the sticky data nav */
.nav-bread > div { border-radius: 10px; z-index: 2; }

.nav-bread { z-index: 2; margin-left: -30px; margin-right: -30px; }

.nav-bread.fadein > div { animation: nav-fade-in 0.3s; background-color: var(--breadcrumbNav); }

.nav-bread.fadeout > div { animation: nav-fade-out 0.3s; }

.list-group { font-weight: 300; line-height: 16pt; font-size: 16px; color: #4e4f54; position: sticky; position: -webkit-sticky; align-self: flex-end; bottom: 5em; }

.list-group-item.active { background-color: #6b8a15 !important; border-color: #6b8a15; }

.list-group-item { background-color: #eae9eb; border-radius: 0.5em !important; max-width: 9em; }

.nav-tabs .nav-link { text-decoration: none; color: var(--grey_copy); opacity: .8; }

.sticky { position: -webkit-sticky; position: sticky; top: 0; }

.sticky:before, .sticky:after { content: ''; display: table; }

/*# sourceMappingURL=main.css.map */