{% include header.html %}
<style>

    .content {
        font-family: Roboto;
        font-weight: 300;
        line-height: 21pt;
        font-size: 16px;
        color: rgba(78, 79, 84, 1);
        /* height: 50vh;
        position: relative;
        overflow-y: scroll; */
    }

    .content-container {
        margin-left: 15px;
        margin-bottom: 15px;
        padding-top: 50px;

    }

    .list-group {
        font-family: Roboto;
        font-weight: 300;
        line-height: 16pt;
        font-size: 16px;
        color: rgba(78, 79, 84, 1);
        position: sticky;
        position: -webkit-sticky;
        align-self: flex-end;
        bottom: 5em;
    }

    .list-group-item.active {
        background-color: rgba(107, 138, 21, 1) !important;
        border-color: rgba(107, 138, 21, 1);
    }

    .list-group-item {
        background-color: rgba(234, 233, 235);
        border-radius: .5em !important;
        max-width: 9em;
    }


</style>

<script>
    $(document).ready(function(){
    window.addEventListener('scroll', function () { toggleScrollClass() });
    $('.list-group-item-action').click(function(e) {
        e.preventDefault()
        document.getElementById(e.currentTarget.attributes.href.value.slice(1)).scrollIntoView({behavior: "smooth", block: "end"});
        });
    })
        </script>

<body data-spy="scroll" data-target="#content-buttons" data-offset="0">
    <div class='container'>
        {% include wave.html %}
        {% include navbar.html %}

        <nav class='nav-bread sticky-top' aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/entry.html">HOME</a></li>
                <li class="breadcrumb-item"><a href="/theory.html">THEORY</a></li>
                <li class="breadcrumb-item active" aria-current="page"> {{ page.full_title}} - {{ page.main_title}}</li>
            </ol>
        </nav>
        
        <div class='row content-container'>
            <div class='col content'>
                {{ content}}
            </div>
            <div class='col-auto d-flex align-items-start'>
                <div class="list-group" id="content-buttons">
                    {% for item in page.topics %}
                    <a class="list-group-item list-group-item-action m-1 py-1 px-2"
                        href="#topic-{{ forloop.index }}">{{item.topic}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include bottom_nav.html %}
    </div>
</body>
{% include footer.html %}