{% include header.html %}
<style type="text/css">
    /* @media (max-width: 575px) {
        .top-header {
            font-size: 59px !important;
        }

        .entry-buttons a {
            font-size: 20px !important;
        }
    } */

    .container-fluid {
        min-width: 100vw;
        min-height: 100vh;
        background-image: var(--entrygrade),
        url("{{ '/assets/images/splash/corn-400w.jpg' | relative_url }}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-text {
        font-weight: 500;
        color: white !important;
        font-size: 15px;
    }

    .footer nav a {
        color: white !important;
    }

    .top-header {
        
        font-size: max(50px, min(6.5vw, 85px));
        font-weight: 100;
        line-height: 67px;

    }

    .text-content {
        font-size: max(14px, min(1.5vw, 16px));
    }
    .bottom-header {
        font-size: max(19px, min(2.5vw, 25px));
        font-weight: 400;
    }

    .main-text .entry-buttons {
        font-size: max(29px, min(3vw, 40px));
        font-weight: 500;
    }

    .main-text .entry-buttons .titles {
        font-size: 16px;
        font-weight: 300;
    }

    .main-text .theory-button a {
        font-weight: 500;
        font-size: 17px;
        color: white;
        text-decoration: none;
    }

    .entry-buttons a {
        text-decoration: none;
        color: white
    }

    .grid-container {
        grid-template-areas:
            "topnav topnav topnav topnav" !important;
        grid-template-rows: auto !important;
    }
    .container {
        min-height: 0 !important;
    }
</style>

<body>
    <div class='container-fluid d-flex flex-column' id='entry-container'>
        <div class='row'>
            <div class='col'>
                {% include navbar.html %}
            </div>
        </div>
        <div class="container main-text my-auto">
            <div class='row'>
                <div class='col'>
                    <p class='top-header'>WELCOME...</p>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <p class='bottom-header'> <span>This web-based platform is both a practical instrument and an information </span>
                        <span>resource for developing sustainable livestock production systems.</span></p>
                </div>
            </div>
            <div class='row text-content'>
                <div class='col'>
                    <p>
                        The Investing in Sustainable Livestock Guide provides guidance for common activities and,
                        interventions, and indicators
                        needed to ensure livestock projects are sustainable according to environmental and animal health
                        dimensions.
                    </p>
                    <p>This site also offers the theory and evidence that underpin the guidance. It includes a deep dive
                        into the principles and
                        trade-offs for environmental sustainability and animal health in the livestock sector that
                        underpin,
                        this tool. We have
                        considered a variety of geographic contesxts and tailored the guidance to each. So, whatever and
                        wherever you are
                        implementing, we have recommendations for you.</p>
                    <p>
                        To apply the tool to an existing project (Project in Implementation) click on the left. <br>
                        If you are developing a new project (Project in Preparation), click on the right.  <br>
                        Interested in the theory behind the ISL Guide? or overview of the ISL Tool, Click down below.<br>
                                            </p>
                </div>
            </div>
            <div class='row entry-buttons'>
                <div class='col-auto box-fill'>
                    <a class='button' href="{{ 'implem.html' | relative_url }}">
                        PROJECT IN IMPLEMENTATION
                        <span class='right-arrow'> &#10132;</span>
                    </a>
                </div>
                <div class='col-auto box-fill'>
                    <a class='button' href="{{'/prep.html' | relative_url }}">
                        PROJECT IN PREPARATION
                        <span class='right-arrow'> &#10132;</span>
                    </a>
                </div>
            </div>
            <div class='row theory-button pt-4'>
                <div class='col-md-auto'>
                    <a class='button' href="{{'/theory.html' | relative_url }}">
                        THEORY BEHIND THE ISL GUIDE </a>
                    <span class='right-arrow'> &#10132;</span>
                </div>
                <div class='col'>
                    <a class='button' href="{{ 'overview.html' | relative_url }}">
                        OVERVIEW OF THE ISL GUIDE </a>
                    <span class='right-arrow'> &#10132;</span>
                </div>
            </div>
        </div>
        {% include bottom_nav.html inverted="true" %}
    </div>
</body>
{% include footer.html %}