{% include header.html %}

<style>
    .container-fluid {
        min-width: 100vw;
        min-height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("{{ '/assets/images/sheep-fog-400w.jpg' | relative_url }}");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .main-text {
        font-family: Roboto;
        font-weight: 500;
        color: rgb(203, 200, 206) !important;
        font-size: 15px;
    }

    .footer nav a {
        color: white !important;
    }

    .top-header {
        font-size: 76px;
        font-weight: 300;
        color: rgb(212, 159, 0);
    }

    .bottom-header {
        font-size: 25px;
    }

    .main-text .entry-buttons {
        font-size: 30px;
        font-weight: 500;
    }

    .main-text .entry-buttons .titles {
        font-size: 16px;
        font-weight: 300;
    }

    .main-text .theory-button a {
        font-weight: 500;
        font-size: 17px;
        color: rgb(203, 200, 206) !important;

   }
   .entry-buttons a {
    color: rgb(203, 200, 206) !important;

   }
</style>

<body>
    <div class='container-fluid d-flex flex-column' id='entry-container'>
        <div class='row'>
            <div class='col'>
                {% include navbar.html %}
            </div>
        </div>
        <div class="container main-text my-auto">
            <div class='row'>
                <div class='col'>
                    <p class='top-header'>WELCOME...</p>
                </div>
            </div>
            <div class='row'>
                <div class='col'>
                    <p class='bottom-header'>This web-based platform is both a practical instrument and an information
                        resource for developing sustainable livestock production systems.</p>
                </div>
            </div>

            <div class='row text-content'>
                <div class='col'>
                    <p>
                        The Investing in Sustainable Livestock Guide provides guidance for common activities and,
                        interventions, and indicators
                        needed to ensure livestock projects are sustainable according to environmental and animal health
                        dimensions.
                    </p>
                    <p>This site also offers the theory and evidence that underpin the guidance. It includes a deep dive
                        into the principles and
                        trade-offs for environmental sustainability and animal health in the livestock sector that
                        underpin,
                        this tool. We have
                        considered a variety of geographic contesxts and tailored the guidance to each. So, whatever and
                        wherever you are
                        implementing, we have recommendations for you.</p>

                    <p>
                        Interested in the theory behind the ISL Guide?, Click down below.

                    </p>
                </div>
            </div>
            <div class='row entry-buttons'>
                <div class='col-md-auto'>
                    <p class='titles mb-0'>
                        To apply the tool to an existing project use:
                    </p>
                    <a class='button' href="{{ 'implem.html' | relative_url }}">
                        PROJECT IN IMPLEMENTATION
                        <span class='right-arrow'> &#10132;</span>

                    </a>
                </div>
                <div class='col'>
                    <p class='titles mb-0'>
                        If you are developing a new project use:

                    </p>
                    <a class='button' href="{{'/prep.html' | relative_url }}">
                        PROJECT IN PREPERATION
                        <span class='right-arrow'> &#10132;</span>

                    </a>
                </div>
            </div>
            <div class='row theory-button pt-3'>
                <div class='col-md-auto'>
                    <a class='button' href="{{'/theory.html' | relative_url }}">
                        THEORY BEHIND THE ISL GUIDE </a>
                        <span class='right-arrow'> &#10132;</span>

                </div>
                <div class='col'>
                    <a class='button' href="{{'/theory.html' | relative_url }}">
                        OVERVIEW OF THE ISL GUIDE </a>
                        <span class='right-arrow'> &#10132;</span>

                </div>
            </div>
        </div>
        {% include bottom_nav.html %}
    </div>
</body>
{% include footer.html %}
