{% include header.html %}
<style type="text/css">
    /* Bump Nav */

    .breadcrumb-nav {
        color: var(--aquamarine);
        font-weight: 600;
        font-size: 17px;
    }

    .breadcrumb-nav {
        margin: 0;
    }

    /* Card Column Coloring */
    #context-data .card-hover:hover {
        background-color: var(--aquamarine);
        border-color: var(--aquamarine);
    }

    #context-data .card.selected {
        background-color: var(--aquamarine);
        border-color: var(--aquamarine);
    }

    #context-data .card-hover:hover .card-body p {
        color: white !important;
    }

    #context-data .card.selected .card-body p {
        color: white !important;
    }

    .column_1 {
        color: var(--column_1) !important;
    }

    #column_1 .card-body p {
        color: var(--column_1);
    }

    #column_1 .col-card .card {
        border-color: var(--column_1);
    }

    #column_1 .col-card .card-hover:hover {
        background-color: var(--column_1);
    }

    #column_1 .col-card .card-hover:hover .card-body p {
        color: white !important;
    }

    #column_1 .col-card .card.selected {
        background-color: var(--column_1);
    }

    #column_1 .col-card .card.selected .card-body p {
        color: white !important;
    }

    #column_2 .card-body p {
        color: var(--column_2);
    }

    .column_2 {
        color: var(--column_2) !important;
    }

    #column_2 .col-card .card {
        border-color: var(--column_2);
    }

    #column_2 .col-card .card-hover:hover {
        background-color: var(--column_2);
        border-color: var(--column_2);
    }

    #column_2 .col-card .card-hover:hover .card-body p {
        color: white !important;
    }

    #column_2 .col-card .card.selected {
        background-color: var(--column_2);
        border-color: var(--column_2);
    }

    #column_2 .col-card .card.selected .card-body p {
        color: white !important;
    }

    .column_3 {
        color: var(--column_3) !important;
    }

    #column_3 .card-body p {
        color: var(--column_3);
    }

    #column_3 .col-card .card {
        border-color: var(--column_3);
    }

    #column_3 .col-card .card-hover:hover {
        background-color: var(--column_3);
        border-color: var(--column_3);
    }

    #column_3 .col-card .card-hover:hover .card-body p {
        color: white !important;
    }

    #column_3 .col-card .card.selected {
        background-color: var(--column_3);
        border-color: var(--column_3);
    }

    #column_3 .col-card .card.selected .card-body p {
        color: white !important;
    }

    .column_4 {
        color: var(--column_4) !important;
    }

    #column_4 .card-body p {
        color: var(--column_4);
    }

    #column_4 .col-card .card {
        border-color: var(--column_4);
    }

    #column_4 .col-card .card-hover:hover {
        background-color: var(--column_4);
        border-color: var(--column_4);
    }

    #column_4 .col-card .card-hover:hover .card-body p {
        color: white !important;
    }

    #column_4 .col-card .card.selected {
        background-color: var(--column_4);
        border-color: var(--column_4);
    }

    #column_4 .col-card .card.selected .card-body p {
        color: white !important;
    }

    .column_5 {
        color: var(--column_5) !important;
    }

    #column_5 .card-body p {
        color: var(--column_5);
    }

    #column_5 .col-card .card {
        border-color: var(--column_5);
    }

    #column_5 .col-card .card-hover:hover {
        background-color: var(--column_5);
        border-color: var(--column_5);
    }

    #column_5 .col-card .card-hover:hover .card-body p {
        color: white !important;
    }

    #column_5 .col-card .card.selected {
        background-color: var(--column_5);
        border-color: var(--column_5);
    }

    #column_5 .col-card .card.selected .card-body p {
        color: white !important;
    }


    /* Column auto-sizing for columns with 5+ items */
    @media (min-width: 1200px) {
        .double-col-card {
            min-width: 272px;
            max-height: 544px;
        }
    }

    .double-col-card {
        flex-direction: row !important;
        max-width: 468px;
    }

    @media (max-width: 767px) {
        .double-col-card .card {
            margin: 8px !important;
        }
    }

    @media (min-width: 768px) {
        #column_4 .col-card {
            flex-direction: column !important;
        }

        #column_5 .col-card {
            max-width: 749px;
        }
    }

    @media (min-width: 992px) {
        #column_5 .col-card {
            flex-direction: column !important;
        }

        #context-data {
            max-width: 930px;
        }
    }

    /* Responsive Sizing for Context Card Section */
    @media (min-width: 992px) {
        #context-data {
            max-width: max-content !important;
        }
    }

    #context-data {
        max-width: 480px;
    }

    /* Transition and animation stuff */
    #intervention-section {
        height: 156px;
        transition: height .8s ease-in;
    }

    .intervention-section-max {
        height: min-content !important;
    }

    #card-section {
        min-height: 777px;
        opacity: 1;
        transition: opacity .3s, min-height .5s ease-in-out;
        transition-delay: .2s;
    }

    @media (min-width: 767px) {
        #card-section {
            min-height: 927px
        }
    }

    #card-section.reduced {
        min-height: 356px !important;
    }

    /* disables clicking events */
    .unclickable {
        pointer-events: none;
    }
</style>
<script>
    $(document).ready(function () {
        // for the scrolling breadcrumb nav with relevant card selections
        window.addEventListener('scroll', function () { toggleScrollClass() });
    })
    const pageState = { Context: undefined, Intervention: undefined };

    let activeState = false;
    let renderedPage = false;

    const getCards = () => {
        const interventions = islGuide.filter(i => i.Intervention == parseInt(pageState.Intervention));
        const cards = interventions.map(i => i.Context);
        return cards
    }

    const unHide = (query) => {
        unhideCards(query, getCards())
    }

    const interResetFunction = (e) => {

        const interParent = document.getElementById('intervention-section')
        const contextParent = document.getElementById('context-section')
        const contextCards = Object.values(contextParent.getElementsByClassName('button-card'))
        const cardIndexMap = getCards();

        guidance = undefined;
        pageState.Context = undefined;

        contextCards.map(i => {
            if (!cardIndexMap.includes(parseInt(i.getAttribute('index')))) {
                if (i.style.display === 'block') {
                    i.classList.add("flipOutY");
                    setTimeout(function () {
                        i.style.display = 'none'
                        i.classList.remove("flipOutY");
                    }, 800)
                }
            } else {
                if (i.style.display === 'none') {
                    i.classList.add('fadeInUp');
                    i.style.display = 'block'
                    setTimeout(function () {
                        i.classList.remove("fadeInUp");
                    }, 1000)
                }
            }
        });

        contextParent.scrollIntoView({ behavior: "smooth", block: "end" });

        Object.values(interParent
            .getElementsByClassName('button-card')).filter(i => e !== i)
            .forEach(function (item) {
                item.classList.remove('selected');
                item.classList.add('card-hover');
                item.setAttribute('onclick', "interventionFunction(this)");
            })
        renderedPage = false;
        Object.values(document.getElementsByClassName('data-section')).forEach(function (item) {
            item.classList.add('hidden-object')
        });

        contextCards.forEach(function (item) {
            item.setAttribute('onclick', "contextFunction(this)");
            item.classList.add('card-hover');
            item.classList.remove('selected');
        })

    }
    // for the context button selection, happens last before data is shown
    const contextFunction = (e) => {
        Object.values(e.parentElement.getElementsByClassName('button-card')).filter(i => e !== i).map(item => {
            item.setAttribute('onclick', "contextFunction(this)");
            item.classList.add('card-hover');
            item.classList.remove('selected');
        })

        // highlights button
        e.classList.add('selected');
        e.onclick = null;
        e.classList.remove('card-hover');

        // get intervention index value
        const index = e.getAttribute('index');

        // Sets the pageState variable  
        pageState.Context = parseInt(index);

        // get context column
        let parent = document.getElementById('context-section')

        e.onclick = null;
        e.classList.remove('card-hover');

        // gets scrolling breadcrumb nav with relevant card selections
        let breadcrumb = document.getElementById(parent.attributes['data-target'].value)

        // Update span with selected card text
        breadcrumb.getElementsByTagName('span')[0].innerText = e.innerText

        // Search and remove selected card from dropdown 
        let dropdown = breadcrumb.getElementsByTagName('div')[0]
        guidance = islGuide.filter(i => i.Intervention == parseInt(pageState.Intervention) && i.Context == parseInt(pageState.Context)).map(i => i.Guidance)[0];

        updateGuidance(guidance);

        if (!renderedPage) {
            Object.values(document.getElementsByClassName('data-section')).forEach(function (item) {
                item.classList.remove('hidden-object')
            });
        }
        setTimeout(() => {
            breadcrumb.parentElement.scrollIntoView({ behavior: "smooth", block: "start" });
        }, 850)
        renderedPage = true;

    };


    // for the intervention button selection, happens first, at the end of this is when 
    // you can modify which cards you want in the context-section

    const interventionFunction = (e) => {
        // get intervention index value
        const index = e.getAttribute('index');
        // Sets the pageState variable
        pageState.Intervention = parseInt(index);

        if (activeState) {
            interResetFunction(e)
        }
        // highlights button
        e.classList.add('selected');
        e.classList.remove('card-hover');
        e.onclick = null;

        // get internvention column
        let parent = document.getElementById('intervention-section')

        // gets scrolling breadcrumb nav with relevant card selections
        let breadcrumb = document.getElementById(parent.getAttribute('data-target'))

        // Update span with selected card text
        breadcrumb.getElementsByTagName('span')[0].innerText = e.innerText

        // Hides the context card section
        // Here is where you could modify which cards is there
        if (!activeState) {
            setTimeout(function () {
                // finds context card section
                const hidCol = document.getElementById('context-section');

                // Unhides all the cards and dropdown cards that correspond to the chosen intervention

                unHide('#context-data .card');

                //unhides and animates it
                hidCol.classList.remove('hidden-object');
                hidCol.classList.add('fadeInUp');

                // It scrolls down to the context section, as the intervention section is tall
                setTimeout(() => {
                    hidCol.scrollIntoView({ behavior: "smooth", block: "end" });
                }, 250)
            }, 900)
        }
        activeState = true;
    }
</script>

<body>
    <div class='container d-flex flex-column'>
        <div>
            {% include wave.html %}
            {% include navbar.html %}
        </div>
        {% include tool_nav.html %}
        <div id='card-section'>
            <div class='row'>
                <div class='col-auto card-col-header'> <span class='title'>INTERVENTIONS</span> <span
                        class='option'>SELECT
                        ONE</span></div>
            </div>
            <div class="row justify-content-between intervention-section-max no-gutters" id="intervention-section"
                data-target='inter-header'>
                <div class="col-auto parent" id='column_1'>
                    <div class='row no-gutters'>
                        <div class='col col-card d-flex flex-column flex-wrap'>
                            {% for item in site.data.interventions.column_1 %}
                            <div class="card card-hover animated button-card" onclick="interventionFunction(this)"
                                index="{{ forloop.index }}">
                                <div class="card-body  d-flex align-items-center">
                                    <p> {{ item.text }} </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-auto parent" id='column_2'>
                    <div class='row no-gutters'>
                        <div class='col col-card d-flex flex-column flex-wrap'>
                            {% for item in site.data.interventions.column_2 %}
                            <div class="card card-hover animated button-card" onclick="interventionFunction(this)"
                                index="{{ forloop.index | plus: 4  }}">
                                <div class="card-body  d-flex align-items-center">
                                    <p> {{ item.text }} </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-auto parent" id='column_3'>
                    <div class='row no-gutters'>
                        <div class='col col-card d-flex flex-column flex-wrap'>
                            {% for item in site.data.interventions.column_3 %}
                            <div class="card card-hover animated button-card" onclick="interventionFunction(this)"
                                index="{{ forloop.index | plus: 8}}">
                                <div class="card-body  d-flex align-items-center">
                                    <p> {{ item.text }} </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-auto parent" id='column_4'>
                    <div class='row no-gutters'>
                        <div class='col col-card double-col-card d-flex flex-column flex-wrap'>
                            {% for item in site.data.interventions.column_4 %}
                            <div class="card card-hover animated button-card" onclick="interventionFunction(this)"
                                index="{{ forloop.index | plus: 11}}">
                                <div class="card-body  d-flex align-items-center">
                                    <p> {{ item.text }} </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-auto parent" id='column_5'>
                    <div class='row no-gutters'>
                        <div class='col col-card double-col-card d-flex flex-column flex-wrap'>
                            {% for item in site.data.interventions.column_5 %}
                            <div class="card card-hover animated button-card" onclick="interventionFunction(this)"
                                index="{{ forloop.index | plus: 16}}">
                                <div class="card-body  d-flex align-items-center">
                                    <p> {{ item.text }} </p>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class='hidden-object animated' id='context-section' data-target="context-header">
                <div class='row mt-3'>
                    <div class='col-auto card-col-header'> <span class='title'>CONTEXTS</span> <span
                            class='option'>SELECT ONE</span></div>
                </div>
                <div class="row no-gutters">
                    <div class="col-auto">
                        <div class='row'>
                            <div class='col col-card d-flex flex-row flex-wrap' id='context-data'>
                                {% for item in site.data.context %}
                                <div class="card card-hover button-card animated" onclick="contextFunction(this)"
                                    style='display: none;' index="{{forloop.index}}">
                                    <div class="card-body  d-flex align-items-center">
                                        <p> {{ item.text }} </p>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class='row data-section hidden-object nav-bread sticky my-4'>
            <div class='col'>
                <div class='breadcrumb-nav p-2'>
                    <div id='inter-header'>
                        <z>INTERVENTION</z>:
                        <span></span>
                        <div id='context-header'>
                            <z>CONTEXT</z>: <span></span>
                        </div>
                    </div>
                </div>
        </nav>
        {% include data-scroll.html %}
        {% include bottom_nav.html %}
    </div>
</body>
{% include footer.html %}