{% include header.html %}

<style>
    .col-card {
        max-width: 334px;
        min-width: 334px;

    }

    .selected {
        background-color: var(--aquamarine);
        border-color: var(--aquamarine);
    }

    .col-card .card:hover {
        background-color: var(--aquamarine);
        border-color: var(--aquamarine);
    }

    .col-card .card:hover .card-body p {
        color: white !important;
    }

    #card-section {
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: opacity 1s, height .6s ease-in;
        transition-delay: .2s;
    }

    .card-section-max {
        height: 485px !important;
        overflow: hidden;
        opacity: 1 !important;
    }

    .card-col {
        transition: opacity 1s, max-width 2s;
    }

    .hidden-section {
        visibility: hidden;
    }

    .card.hidden-object {
        max-width: 0 !important;
    }

</style>
<script>
    const prep_state = { context: undefined, objectives: undefined, interventions: undefined };

    const highlightFunction = (e) => {
        let last = e.parentElement.children[0].getBoundingClientRect();
        let first = e.getBoundingClientRect()
        const deltaX = first.left - last.left;
        const deltaY = first.top - last.top;
        Object.values(e.parentElement.children).filter(item => item != e).forEach(function (item) {
            item.onclick = null;
            item.classList.add("flipOutY");
            setTimeout(function () {
                item.classList.add('hidden-object')

                e.animate([{
                    transformOrigin: 'bottom right',
                    transform: `
                        translate(${deltaX}px, ${deltaY}px)
                                `
                }, {
                    transformOrigin: 'top left',
                    transform: 'none'
                }], {
                    duration: 300,
                    easing: 'ease-in-out',
                    fill: 'both'
                });
            }, 1000);
        });
        setTimeout(function () {
            const hidCol = document.getElementsByClassName('hidden-section animated card-col')
            if (hidCol.length == 0) {
                document.getElementById('card-section').classList.remove('card-section-max')
                Object.values(document.getElementsByClassName('data-section')).forEach((elm) => {
                    elm.classList.remove('hidden-object')
                })
            }
            if (hidCol.length > 0) {
                const col = hidCol[0]
                col.classList.remove('hidden-section')
                col.classList.add('fadeInLeft')
            }
        }, 1100)

        document.getElementById(e.parentElement.attributes['data-target'].value).innerText = e.innerText
    }
</script>

<body>
    <div class='container d-flex flex-column'>
        <div class='row'>
            {% include wave.html %}
            {% include navbar.html %}
        </div>
        {% include tool_nav.html %}
        <div class="row justify-content-around card-section-max no-gutters" id="card-section">
            <div class="col-auto">
                <div class="row no-gutters header">
                    <div class='col-auto'>
                        <h5>CONTEXTS</h5>
                    </div>
                </div>
                <div class='row no-gutters'>
                    <div class='col col-card d-flex flex-row flex-wrap' id='context-data' data-target="context-header">
                        {% for item in site.data.context %}
                        <div class="card animated" onclick="highlightFunction(this)">
                            <div class="card-body text-center d-flex align-items-center"
                                href="context_{{forloop.index}}.html">
                                <p> {{forloop.index}} {{ item.text }} </p>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="col-auto hidden-section animated card-col">
                <div class="row no-gutters header">
                    <div class='col-auto'>
                        <h5>OBJECTIVES</h5>
                    </div>
                </div>
                <div class='row no-gutters'>
                    <div class='col col-card d-flex flex-row flex-wrap' id='obj-data' data-target='obj-header'>
                        {% for item in site.data.objectives %}
                        <div class="card animated" onclick="highlightFunction(this)">
                            <div class="card-body text-center d-flex align-items-center"
                                href="objectives_{{forloop.index}}.html">
                                <p> {{forloop.index}} {{ item.text }} </p>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <div class="col-auto hidden-section card-col animated">
                <div class="row no-gutters header" data-anijs="if: click, do: flipInY animated">
                    <div class='col'>
                        <h5>INTERVENTIONS</h5>
                    </div>
                </div>
                <div class='row no-gutters'>
                    <div class='col col-card d-flex flex-row flex-wrap' id='inter-data' data-target='inter-header'>
                        {% for item in site.data.interventions.column_1 %}
                        <div class="card animated" onclick="highlightFunction(this)">
                            <div class="card-body text-center d-flex align-items-center"
                                href="interventions_{{forloop.index}}.html">
                                <p> {{ item.text }} </p>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <div class='row data-section hidden-object'>
            <div class='col my-3'>
                <ul class='breadcrumb-data px-0 '>
                    <li>CONTEXT: <span id='context-header'></span></li>
                    <li>OBJECTIVES: <span id='obj-header'></span></li>
                    <li>INTERVENTIONS: <span id='inter-header'></span></li>
                </ul>
            </div>
        </div>
        {% include data-scroll.html %}
        {% include bottom_nav.html %}
    </div>
</body>
{% include footer.html %}