{% include header.html %}
<style type="text/css">
    .col-card {
        max-width: 300px;
        min-width: 300px;
    }

    .selected {
        background-color: var(--aquamarine) !important;
        border-color: var(--aquamarine);
        color: white !important;
    }

    .col-card .card-hover:hover {
        background-color: var(--aquamarine);
        border-color: var(--aquamarine);
    }

    .col-card .card-hover:hover .card-body p {
        color: white !important;
    }

    @media (max-width: 769px) {
        div.card-section-max {
            height: 803px;
            overflow: hidden;
        }
    }

    .card-section {
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: opacity 1s, height .6s ease-in;
        transition-delay: 1s;
    }

    .card-section-max {
        height: 485px;
        overflow: hidden;
        opacity: 1;
    }

    .card-col {
        transition: opacity 1s, max-width 2s;
    }

    .hidden-section {
        visibility: hidden;
    }

    .card.hidden-object {
        max-width: 0 !important;
    }

    /* disables clicking events */
    .unclickable {
        pointer-events: none;
    }
</style>
<script>
    $(document).ready(function () {
        // for the scrolling breadcrumb nav with relevant card selections
        window.addEventListener('scroll', function () { toggleScrollClass() });
    })
    const pageState = { context: undefined, objectives: undefined, interventions: undefined };

    const hide = true;

    const highlightFunction = (e) => {
        const parent = e.parentElement;
        // disables button
        e.onclick = null;

        // if animated
        if (hide === true) {
            // finds the difference between the position of the clicked button and the first button in it's column
            let last = parent.children[0].getBoundingClientRect();
            let first = e.getBoundingClientRect()
            const deltaX = first.left - last.left;
            const deltaY = first.top - last.top;
            let animated = false;

            // iterates over non-clicked buttons in immediate parent column
            Object.values(parent.children).filter(item => item != e).forEach(function (item) {
                // disables button
                item.onclick = null;
                // animates unclicked cards
                item.classList.add("flipOutY");
                // hides cards, and initiates the slide up animation
                setTimeout(function () {
                    item.classList.add('hidden-object')
                    if (!animated) {
                        e.animate([{
                            transformOrigin: 'bottom right',
                            transform: `
                        translate(${deltaX}px, ${deltaY}px)
                                `
                        }, {
                            transformOrigin: 'top left',
                            transform: 'none'
                        }], {
                            duration: 300,
                            easing: 'ease-in-out',
                            fill: 'both'
                        });
                    }
                }, 1000);
            });
            // If not animated
        } else {
            // highlights button
            e.classList.add('selected')
            // loops over all the cards
            Object.values(parent.children).forEach(function (item) {
                //removes hover and disables clicking
                item.classList.remove('card-hover')
                item.onclick = null;
            })
        }

        setTimeout(function () {
            // looks to see if there are any more hidden column sections
            const hidCol = document.getElementsByClassName('hidden-section animated card-col')
            // if it's the last column
            if (hidCol.length == 0) {
                // Updates the page object state
                pageState.interventions = e.getAttribute('index')
                // if animated, it hides the cards
                if (hide == true) {
                    document.getElementById('card-section').classList.remove('card-section-max')
                }
                // unhides the data section
                Object.values(document.getElementsByClassName('data-section')).forEach((elm) => {
                    elm.classList.remove('hidden-object')
                })
                //scrolls to data section if cards aren't hidden
                if (hide == false) {
                    document.getElementsByClassName('breadcrumb-data')[0].scrollIntoView({ behavior: "smooth", block: "start" });
                }
                //if there are more hidden columns
            } else {
                //This is where you would modify the cards in the column
                const index = e.getAttribute('index')
                if (parent.id == 'context-data') {

                    // Unhides all the cards and dropdown cards that correspond to the chosen context
                    unHide('#obj-data .card, #obj-header .card li', objectivesMatrix, index)

                    // Updates the page object state
                    pageState.context = e.getAttribute('index')

                } else if (parent.id == 'obj-data') {
                    // Unhides all the cards and dropdown cards that correspond to the chosen objective
                    unHide('#inter-data .card, #inter-header .card li', interventionsMatrix, index)

                    // Updates the page object state
                    pageState.objectives = index;
                }

                //get next column, unhide and animate it. 
                const col = hidCol[0]
                col.classList.remove('hidden-section')
                col.classList.add('fadeInLeft')
            }
        }, 1100)

        // gets scrolling breadcrumb nav with relevant card selections
        let breadcrumb = document.getElementById(e.parentElement.attributes['data-target'].value)
        // Update span with selected card text
        breadcrumb.getElementsByTagName('span')[0].innerText = e.innerText
        if (hide == false) {
            breadcrumb.classList.add('unclickable');
            breadcrumb.querySelector('.dropdown-toggle').classList.remove('dropdown-toggle');
        } else {
            let dropdown = breadcrumb.getElementsByTagName('div')[0]
            // Remove duplicate selection in dropdown list
            let duplicateItem = dropdown.querySelector("li[index='" + e.getAttribute('index') + "']").remove()
        }
    }
</script>

<body>
    <div class='container d-flex flex-column'>
        <div class='row'>
            {% include wave.html %}
            {% include navbar.html %}
        </div>
        {% include tool_nav.html %}
        <div class="row justify-content-around card-section card-section-max no-gutters" id="card-section">
            <div class="col-auto">
                <div class="row no-gutters">
                    <div class='col-auto card-col-header'> <span class='title'>CONTEXTS</span> <span
                            class='option'>SELECT ONE</span></div>
                </div>
                <div class='row no-gutters'>
                    <div class='col col-card d-flex flex-row flex-wrap' id='context-data' data-target="context-header"
                        data-holder="objectivesMatrix">
                        {% for item in site.data.context %}
                        <div class="card card-hover animated" onclick="highlightFunction(this)"
                            index="{{forloop.index}}">
                            <div class="card-body  d-flex align-items-center">
                                <p>{{ item.text }} </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-auto hidden-section animated card-col">
                <div class="row no-gutters card-col-header">
                    <div class='col-auto card-col-header'> <span class='title'>OBJECTIVES</span> <span
                            class='option'>SELECT ONE</span></div>
                </div>
                <div class='row no-gutters'>
                    <div class='col col-card d-flex flex-row flex-wrap' id='obj-data' data-target='obj-header'
                        data-holder="interventionsMatrix">
                        {% for item in site.data.objectives %}
                        <div class="card card-hover animated" onclick="highlightFunction(this)" style='display:none;'
                            index="{{forloop.index}}">

                            <div class="card-body  d-flex align-items-center">
                                <p>{{ item.text }} </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-auto hidden-section card-col animated">
                <div class="row no-gutters card-col-header">
                    <div class='col-auto card-col-header'> <span class='title'>INTERVENTIONS</span> <span
                            class='option'>SELECT ONE</span></div>
                </div>
                <div class='row no-gutters'>
                    <div class='col col-card d-flex flex-row flex-wrap' id='inter-data' data-target='inter-header'>
                        {% for item in site.data.interventions.column_1 %}
                        <div class="card card-hover animated" onclick="highlightFunction(this)" style='display:none;'
                            index="{{forloop.index}}">

                            <div class="card-body  d-flex align-items-center">
                                <p> {{ item.text }} </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <nav class='row data-section hidden-object nav-bread sticky-top my-4'>
            <div class='col '>
                <ul class='breadcrumb-data p-2 '>
                    <li id='context-header'>
                        <a class='dropdown-toggle' data-toggle="collapse" href="#collapseContext" role="button"
                            aria-expanded="false" aria-controls="collapseContext"> CONTEXT:
                            <span></span>
                        </a>
                        <div class="collapse" id="collapseContext">
                            <div class='card card-body'>
                                <ul>
                                    {% for item in site.data.context %}
                                    <li index="{{ forloop.index }}" href="#">
                                        {{ item.text }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li id='obj-header'>
                        <a class='dropdown-toggle' data-toggle="collapse" href="#collapseObjectives" role="button"
                            aria-expanded="false" aria-controls="collapseObjectives"> OBJECTIVES: <span></span>
                        </a>
                        <div class="collapse" id="collapseObjectives">
                            <div class='card card-body'>
                                <ul>
                                    {% for item in site.data.objectives %}
                                    <li index="{{ forloop.index }}" href="#" style='display:none;'>
                                        {{ item.text }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li id='inter-header'>
                        <a class='dropdown-toggle' data-toggle="collapse" href="#collapseInterventions" role="button"
                            aria-expanded="false" aria-controls="collapseInterventions"> INTERVENTIONS: <span></span>
                        </a>
                        <div class="collapse" id="collapseInterventions">
                            <div class='card card-body'>
                                <ul>
                                    {% for item in site.data.interventions.column_1 %}
                                    <li index="{{ forloop.index }}" href="#" style='display:none;'>
                                        {{ item.text }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        {% include data-scroll.html %}
        {% include bottom_nav.html %}
    </div>
</body>
{% include footer.html %}