{% include header.html %}
<style type="text/css">
    .content {
        font-weight: 300;
        line-height: 21pt;
        font-size: 16px;
        color: rgba(78, 79, 84, 1);
    }

    .content-container {
        margin-bottom: 15px;
        padding-top: 50px;
    }
</style>

<body>
    <div class='container'>
        {% include wave.html %}
        {% include navbar.html %}
        <div class='row content-container'>
            <div class='col content'> 
                {{ content }}
            </div>
        </div>
        {% include bottom_nav.html %}
    </div>

</body>
{% include footer.html %}