{% include header.html %}
<style type="text/css">
    .scroll-buttons .list-group-item:not(.collapsed) {
        background-color: var(--prep) !important;
        border-color: var(--prep);
        color: white !important;
    }

    .scroll-buttons {
        /* min-height: 80vh; */
        position: sticky;
        top: 3em;
    }
</style>

<body>
    <div class='container'>
        <div class='mb-4'>
            {% include wave.html %}
            {% include navbar.html %}
        </div>
        <div class='row'>
            {% include tabbed-scroll.html %}
        </div>
        {% include bottom_nav.html %}

    </div>
</body>
{% include footer.html %}