{% include header.html %}
<style type="text/css">
    .content {
        font-weight: 300;
        line-height: 21pt;
        font-size: 16px;
        color: rgba(78, 79, 84, 1);
    }

    .content-container {
        margin-left: 15px;
        margin-bottom: 15px;
        padding-top: 50px;

    }

    .scroll-buttons .list-group-item:not(.collapsed){
        background-color: var(--prep) !important;
        border-color: var(--prep);
        color: white !important;
    }
    .scroll-buttons {
        /* min-height: 80vh; */
        position: sticky;
        top: 3em;
    }
    .returnButton {
        text-align-last: justify;
        cursor: pointer;
    }

</style>

<body>
    <div class='container'>
        {% include wave.html %}
        {% include navbar.html include_theory='true' %}


        <div class='row no-gutters ' id="accordionContent" data-default="1">
            <div class='col content tab-content' id="nav-tabContent">
                {% for item in page.data %}
                <div class="{% if forloop.first %} show {% endif %} collapse" id="tabbed-{{ forloop.index }}"
                    aria-labelledby="tab-{{ forloop.index }}" data-parent='#accordionContent'> {{item}}
                </div>
                {% endfor %}
            </div>
            <script>
                $(document).ready(() => {
                    /* always keep at least 1 open by preventing the current to close itself */
                    $('[data-toggle="collapse"]').on('click', function (e) {
                        if (true === JSON.parse(e.currentTarget.getAttribute('aria-expanded'))) {
                                e.stopPropagation();
                        }
                })
            });
            </script>
            <div class='col-auto ml-2 d-flex flex-column'>
                <div class="scroll-buttons" id="content-buttons">
                    {% for item in page.topic %}
                    <a class="list-group-item list-group-item-action m-1 py-1 px-2 {% if forloop.first == false %} collapsed {% endif %}" id="tab-{{ forloop.index }}"
                        data-toggle="collapse" role="button" data-target="#tabbed-{{ forloop.index }}"
                        aria-controls="tabbed-{{ forloop.index }}"
                        aria-expanded="{% if forloop.first %} true {% else %} false {% endif %}">{{item}}</a>
                    {% endfor %}
                    <a class="list-group-item returnButton m-1 py-1 px-2" id="returnButton"
                     role="button" onclick="window.history.back()"><span>RETURN</span> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-back" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v2h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2v-2H2a2 2 0 0 1-2-2V2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H2z"/>
                      </svg> </a>
                </div>
            </div>
            </div>
        </div>
    </div>
    {% include bottom_nav.html %}

</body>
{% include footer.html %}